/* Reset dasar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  padding: 30px;
}

/* Container */
.movie-container {
  max-width: 1500px;
  margin: auto;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 20px;
}

/* Form */
form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

input {
  flex: 1;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Button umum */
.btn {
  padding: 8px 14px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

/* Warna tombol */
.btn-save {
  background: seagreen;
  color: white;
}

.btn-edit {
  background: orange;
  color: white;
}

.btn-delete {
  background: crimson;
  color: white;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background: #eee;
}

.card-img-top {
  max-width: 270px;
  max-height: 400px;
}
